@{
    ViewBag.Title = "Contacto";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Desarrolladores</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Inicio</a></li>
                    <li class="breadcrumb-item active">Contactos</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card card-solid">
        <div class="card-body pb-0">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6 d-flex align-items-stretch flex-column">
                    <div class="card bg-light d-flex flex-fill">
                        <div class="card-header text-muted border-bottom-0">
                            Perfil del programador
                        </div>
                        <div class="card-body pt-0">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="lead"><b>Eduardo Arley Alvarado</b></h2>
                                    <p class="text-muted text-sm"><b>Acerca: </b> Diseñador web / Interfaz de usuario</p>
                                    <ul class="ml-4 mb-0 fa-ul text-muted">
                                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Dirección: Pilas, Naranjo, Costa Rica</li>
                                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Teléfono: + 506 - 6448 8685</li>
                                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-mail-bulk"></i></span> Correo electrónico: <a href="mailto:earley@est.utn.ac.cr">earley@@est.utn.ac.cr</a></li>
                                    </ul>
                                </div>
                                <div class="col-5 text-center">
                                    <img src="~/Content/dist/img/logo-small.png" alt="imagen" class="img-circle img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="text-right">
                                <a href="#" class="">
                                    <i class="fab fa-facebook"></i>
                                </a>
                                <a href="#" class="">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="#" class="">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-12 col-sm-6 col-md-6 d-flex align-items-stretch flex-column">
                    <div class="card bg-light d-flex flex-fill">
                        <div class="card-header text-muted border-bottom-0">
                            Perfil del programador
                        </div>
                        <div class="card-body pt-0">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="lead"><b>Josué Marchena Quirós</b></h2>
                                    <p class="text-muted text-sm"><b>Acerca: </b> Diseñador web / Asegurador de calidad</p>
                                    <ul class="ml-4 mb-0 fa-ul text-muted">
                                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Dirección: Poasito, Alajuela, Costa Rica</li>
                                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Teléfono: + 506 - 8608 7039</li>
                                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-mail-bulk"></i></span> Correo electrónico: <a href="mailto:jmarchenaq@est.utn.ac.cr">jmarchenaq@@est.utn.ac.cr</a></li>
                                    </ul>
                                </div>
                                <div class="col-5 text-center">
                                    <img src="~/Content/dist/img/logo-small.png" alt="imagen" class="img-circle img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="text-right">
                                <a href="#" class="">
                                    <i class="fab fa-facebook"></i>
                                </a>
                                <a href="#" class="">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="#" class="">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!-- /.card-body -->

    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
